body {
  position: relative;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-family: 'Montserrat', sans-serif;  
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('img/latar-pngtree.png');
  background-size: cover;
  background-position: center;
  filter: blur(6px); /* ubah angka sesuai kebutuhan */
  z-index: -1;
}

.container{
    border: 1px solid #a8a8a8;
    border-radius: 15px;
    margin-top:30px;
    margin-bottom: 30px;
}

.card-img-top {
height: 450px;
object-fit: cover;
}

.card {
height: 100%;
display: flex;
flex-direction: column;
}

.card-body {
flex-grow: 1;
display: flex;
flex-direction: column;
justify-content: space-between;
}

.loading {
  animation: fadeIn 0.3s ease-in-out;
}

/* Ikon hapus input */
.clear-icon {
  top: 50%;
  right: 80px; /* Atur sesuai panjang tombol "Cari" */
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 20px;
  color: #888;
  display: none;
  z-index: 10;
}

/* Agar ikon tidak menutupi tombol saat responsive */
.input-group.position-relative {
  position: relative;
}

.footer {
  font-family: 'Montserrat', sans-serif;
  background-color: #222;
  color: #ccc;
}

.footer a:hover {
  color: #ffffff;
  text-decoration: none;
}



@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}


